requests>=2,<3
# websockets>=15,<16
# https://github.com/python-websockets/websockets/issues/1616
git+https://github.com/python-websockets/websockets.git@eba390f98d70914cf370bfb0b89a045fef9a2bf6 # Nov 9, 2025, 3:43 PM GMT+1
aiohttp[speedups]>=3,<4
