# *
ILE_NONROOT_UID=1000
ILE_NONROOT_GID=1000

# redis
ILE_REDIS_PORT=6379
ILE_REDIS_PASSWORD=redis

# shellyscraper-cloud-mode
ILE_DEBUG=false
ILE_SHELLY_GEN2_WEBSOCKET_BIND_PORT=9082
ILE_AUTH_TOKEN=1234567890abcdef
