# *
ILE_NONROOT_UID=1000
ILE_NONROOT_GID=1000

# questdb
# exposes ports 8812, 9000, 9003, 9009
QDB_PG_USER=useradmin
QDB_PG_PASSWORD=quest
QDB_PG_READONLY_USER_ENABLED=true
QDB_PG_READONLY_USER=admin
QDB_PG_READONLY_PASSWORD=quest

# grafana
# exposes port 3000
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# shellyscraper-home
# exposes ports 9080, 9081
ILE_SHELLY_IPS=192.168.50.178,192.168.50.152,192.168.50.211,192.168.50.209
ILE_DEBUG=false
ILE_SHELLY_GEN1_AUTH_USERNAME=admin
ILE_SHELLY_GEN1_AUTH_PASSWORD=1234
ILE_SHELLY_GEN2_AUTH_USERNAME=admin
ILE_SHELLY_GEN2_AUTH_PASSWORD=1234
ILE_AUTH_TOKEN=1234567890abcdef

# tcp-cache-delivery-man
ITC_REDIS_HOST=10.11.12.13
ITC_REDIS_PORT=6379
ITC_REDIS_PASSWORD=redis
