name: ile-laptop

networks:
  vnet:
    name: ile-base_vnet
    external: true

volumes:
  redis_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ILE_DIR}/data_redis_laptop

services:
  redis:
    build:
      context: ${PWD}
      dockerfile: deps/redis.Dockerfile
      args:
        ILE_NONROOT_UID: ${ILE_NONROOT_UID}
        ILE_NONROOT_GID: ${ILE_NONROOT_GID}
      no_cache: false
      pull: true
    image: ile-laptop-redis:0.0.1
    user: nonroot:nonroot
    restart: always
    networks:
      vnet:
        ipv4_address: 192.168.130.30
    ports: [ ]
    environment:
      - ILE_IDR_REDIS_PORT=6379
      - ILE_IDR_REDIS_PASSWORD=${ILE_IDR_REDIS_PASSWORD}
    volumes:
      - redis_data:/data
      - ${PWD}/config/redis/redis.conf.tmpl:/config/redis.conf.tmpl:ro
      - ${PWD}/config/redis/include/persistence.conf.tmpl:/config/include/persistence.conf.tmpl:ro
      - ${PWD}/config/redis/include/non-tls.conf.tmpl:/config/include/non-tls.conf.tmpl:ro
    logging:
      options:
        max-size: 10m
        max-file: 1
    healthcheck:
      test: timeout -s 15 5 redis-cli -h localhost -p 6379 -a ${ILE_IDR_REDIS_PASSWORD} ping | grep -qaFi PONG || exit 1
      interval: 30s
      timeout: 10s
      start_period: 20s
      retries: 3
    deploy:
      restart_policy:
        condition: any
        delay: 5s
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    labels:
      ile-autoheal: true

  tcp-cache:
    build:
      context: ${ILE_DIR}
      dockerfile: ile_tcp_cache/ile_tcp_cache.Dockerfile
      args:
        ILE_NONROOT_UID: ${ILE_NONROOT_UID}
        ILE_NONROOT_GID: ${ILE_NONROOT_GID}
      no_cache: false
      pull: true
    image: ile-laptop-tcp-cache:0.0.1
    user: nonroot:nonroot
    restart: always
    networks:
      vnet:
        ipv4_address: 192.168.130.31
    ports: [ ]
    environment:
      - ILE_ITC_MY_TCP_BIND_HOST=0.0.0.0
      - ILE_ITC_MY_TCP_BIND_PORT=9152
      - ILE_ITC_TARGET_TCP_HOST=${ILE_ITC_TARGET_TCP_HOST}
      - ILE_ITC_TARGET_TCP_PORT=${ILE_ITC_TARGET_TCP_PORT}
      - ILE_ITC_TARGET_TCP_SSL=${ILE_ITC_TARGET_TCP_SSL}
      - ILE_ITC_TARGET_TCP_SSL_CAFILE=/tls/ca.pem
      - ILE_ITC_TARGET_TCP_SSL_CHECKHOSTNAME=${ILE_ITC_TARGET_TCP_SSL_CHECKHOSTNAME}
      - >-
        ILE_ITC_TARGET_TCP_HEALTH_HTTP_URLS=
        ${ILE_ITC_TARGET_TCP_HEALTH_HTTP_BASE_URL}/ping,
        ${ILE_ITC_TARGET_TCP_HEALTH_HTTP_BASE_URL}/exec?query=SELECT%20%2A%20FROM%20%22telegraf_cpu%22%20ORDER%20by%20%22timestamp%22%20DESC%20LIMIT%202
      - ILE_ITC_REDIS_HOST=192.168.130.30
      - ILE_ITC_REDIS_PORT=6379
      - ILE_ITC_REDIS_PASSWORD=${ILE_IDR_REDIS_PASSWORD}
    volumes:
      - ${PWD}/tls/${ILE_ENV}/ca.pem:/tls/ca.pem:ro
    logging:
      options:
        max-size: 10m
        max-file: 1
    healthcheck:
      test: timeout -s 15 5 socat -t5 -T5 /dev/null TCP:127.0.0.1:9152 || exit 1
      interval: 30s
      timeout: 10s
      start_period: 20s
      retries: 3
    depends_on:
      redis:
        condition: service_started
        restart: true
    deploy:
      restart_policy:
        condition: any
        delay: 5s
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    labels:
      ile-autoheal: true

  # https://hub.docker.com/_/telegraf
  # https://www.influxdata.com/blog/docker-run-telegraf-as-non-root/
  # https://docs.docker.com/compose/how-tos/gpu-support/
  # https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/install-guide.html
  telegraf:
    build:
      context: ${PWD}
      dockerfile: deps/telegraf.Dockerfile
      args:
        ILE_NONROOT_UID: ${ILE_NONROOT_UID}
        ILE_NONROOT_GID: ${ILE_NONROOT_GID}
      no_cache: false
      pull: true
    image: ile-laptop-telegraf:0.0.1
    user: nonroot:${ILE_DOCKER_GID}
    restart: always
    network_mode: host
    ports: [ ]
    hostname: ${HOSTNAME}
    environment:
      - HOST_ETC=/hostfs/etc
      - HOST_PROC=/hostfs/proc
      - HOST_SYS=/hostfs/sys
      - HOST_VAR=/hostfs/var
      - HOST_RUN=/hostfs/run
      - HOST_MOUNT_PREFIX=/hostfs
      - ILE_ITF_SOCKET_WRITER_ADDRESS=tcp://192.168.130.31:9152
      - ILE_ITF_HEALTH_SERVICE_ADDRESS=http://127.0.0.1:8652
      - ILE_ITF_AGENT_INTERVAL=${ILE_ITF_AGENT_INTERVAL:-20s}
    volumes:
      - /:/hostfs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${ILE_DIR}/ile_telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - ${ILE_DIR}/ile_telegraf/telegraf-writer.conf:/etc/telegraf/telegraf.d/telegraf-writer.conf:ro
      - ${ILE_DIR}/ile_telegraf/telegraf-nvidia.conf:/etc/telegraf/telegraf.d/telegraf-nvidia.conf:ro
      - ${ILE_DIR}/ile_telegraf/telegraf-noncloud.conf:/etc/telegraf/telegraf.d/telegraf-noncloud.conf:ro
      - ${ILE_DIR}/ile_telegraf/telegraf-power-supply.conf:/etc/telegraf/telegraf.d/telegraf-power-supply.conf:ro
      - ${ILE_DIR}/ile_telegraf/power_supply_info.sh:/scripts/power_supply_info.sh:ro
      - ${ILE_DIR}/ile_telegraf/uevent_to_logfmt.awk:/scripts/uevent_to_logfmt.awk:ro
    security_opt:
      # https://github.com/influxdata/telegraf/issues/6574
      - apparmor:unconfined
    logging:
      options:
        max-size: 10m
        max-file: 1
    healthcheck:
      # https://github.com/influxdata/telegraf/blob/release-1.28/plugins/outputs/health/README.md
      test: (timeout -s 15 5 curl -f http://127.0.0.1:8652 && timeout -s 15 5 /usr/bin/nvidia-smi -q -x) || exit 1
      interval: 30s
      timeout: 10s
      start_period: 20s
      retries: 3
    depends_on:
      tcp-cache:
        condition: service_started
        restart: true
    deploy:
      restart_policy:
        condition: any
        delay: 5s
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    labels:
      ile-autoheal: true

  # https://github.com/willfarrell/docker-autoheal
  autoheal:
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    environment:
      AUTOHEAL_CONTAINER_LABEL: ile-autoheal
    image: willfarrell/autoheal:latest
    network_mode: none
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
