name: ile-cloudserver

networks:
  vnet:
    name: ile-base_vnet
    external: true

volumes:
  mosquitto_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ILE_DIR}/volume_mosquitto_cloudserver

  valkey_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${ILE_DIR}/volume_valkey_cloudserver

services:
  mosquitto:
    build:
      context: ${ILE_DIR}/ile_mosquitto
      dockerfile: mosquitto.Dockerfile
      args:
        ILE_NONROOT_UID: ${ILE_NONROOT_UID}
        ILE_NONROOT_GID: ${ILE_NONROOT_GID}
      no_cache: false
      pull: true
    image: ile-cloudserver-mosquitto:0.0.1
    user: nonroot:nonroot
    restart: always
    networks:
      vnet:
        ipv4_address: 192.168.130.10
    ports:
      - "${ILE_MQTT_EXTERNAL_PORT}:8883" # MQTT over TLS
    environment:
      - ILE_MQTT_USERNAME=${ILE_MQTT_USERNAME}
      - ILE_MQTT_PASSWORD=${ILE_MQTT_PASSWORD}
    volumes:
      - mosquitto_data:/mosquitto/data
      - ${ILE_DIR}/ile_mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ${PWD}/tls/${ILE_ENV}/ca.pem:/mosquitto/secrets/ca.crt:ro
      - ${PWD}/tls/${ILE_ENV}/cloudserver.pem:/mosquitto/secrets/server.crt:ro
      - ${PWD}/tls/${ILE_ENV}/cloudserver-key.pem:/mosquitto/secrets/server.key:ro
    logging:
      options:
        max-size: 10m
        max-file: 1
    healthcheck:
      test: >
        timeout -s 15 5
        mosquitto_sub
        -h localhost
        -p 8883
        --cafile /mosquitto/secrets/ca.crt
        --tls-version tlsv1.3
        --insecure
        -u "${ILE_MQTT_USERNAME}"
        -P "${ILE_MQTT_PASSWORD}"
        -t '$$SYS/broker/uptime'
        -C 1
        || exit 1
      interval: 30s
      timeout: 10s
      start_period: 20s
      retries: 3
    depends_on: [ ]
    deploy:
      restart_policy:
        condition: any
        delay: 5s
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    labels:
      ile-autoheal: true

  valkey:
    build:
      context: ${ILE_DIR}/ile_valkey
      dockerfile: valkey.Dockerfile
      args:
        ILE_NONROOT_UID: ${ILE_NONROOT_UID}
        ILE_NONROOT_GID: ${ILE_NONROOT_GID}
      no_cache: false
      pull: true
    image: ile-cloudserver-valkey:0.0.1
    user: nonroot:nonroot
    restart: always
    networks:
      vnet:
        ipv4_address: 192.168.130.11
    ports:
      - "${ILE_VALKEY_EXTERNAL_PORT}:6379"
    environment:
      - ILE_VALKEY_PASSWORD=${ILE_VALKEY_PASSWORD}
    volumes:
      - valkey_data:/valkey/data
      - ${ILE_DIR}/ile_valkey/valkey.conf.tmpl:/valkey/config/valkey.conf.tmpl:ro
      - ${PWD}/tls/${ILE_ENV}/ca.pem:/valkey/secrets/ca.crt:ro
      - ${PWD}/tls/${ILE_ENV}/cloudserver.pem:/valkey/secrets/server.crt:ro
      - ${PWD}/tls/${ILE_ENV}/cloudserver-key.pem:/valkey/secrets/server.key:ro
    logging:
      options:
        max-size: 10m
        max-file: 1
    healthcheck:
      test: >
        timeout -s 15 5
        valkey-cli -h localhost -p 6379 -a "${ILE_VALKEY_PASSWORD}"
        --tls --insecure ping | grep -qaFi PONG
        || exit 1
      interval: 30s
      timeout: 10s
      start_period: 20s
      retries: 3
    depends_on: [ ]
    deploy:
      restart_policy:
        condition: any
        delay: 5s
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    labels:
      ile-autoheal: true

  mqtt-ingestor:
    build:
      context: ${ILE_DIR}/ile_modules
      dockerfile: ile_modules.Dockerfile
      args:
        ILE_NONROOT_UID: ${ILE_NONROOT_UID}
        ILE_NONROOT_GID: ${ILE_NONROOT_GID}
      no_cache: false
      pull: true
    image: ile-cloudserver-mqtt-ingestor:0.0.1
    user: nonroot:nonroot
    entrypoint: /bin/sh -c
    command:
    - /.venv/bin/python3 -m ile_modules.mqtt_ingestor
    restart: always
    networks:
      vnet:
        ipv4_address: 192.168.130.12
    ports: [ ]
    environment:
      - ILE_DEBUG=${ILE_DEBUG}
      - ILE_VALKEY_HOST=192.168.130.11
      - ILE_VALKEY_PORT=6379
      - ILE_VALKEY_SSL=true
      - ILE_VALKEY_DB=0
      - ILE_VALKEY_PASSWORD=${ILE_VALKEY_PASSWORD}
      - ILE_MQTT_HOST=192.168.130.10
      - ILE_MQTT_SSL=true
      - ILE_MQTT_PORT=8883
      - ILE_MQTT_USERNAME=${ILE_MQTT_USERNAME}
      - ILE_MQTT_PASSWORD=${ILE_MQTT_PASSWORD}
    volumes: [ ]
    logging:
      options:
        max-size: 10m
        max-file: 1
    healthcheck:
      test: >
        timeout -s 15 5 true || exit 1
      interval: 30s
      timeout: 10s
      start_period: 20s
      retries: 3
    depends_on:
      mosquitto:
        condition: service_started
        restart: true
      valkey:
        condition: service_started
        restart: true
    deploy:
      restart_policy:
        condition: any
        delay: 5s
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    labels:
      ile-autoheal: true

  payload-normalizer:
    build:
      context: ${ILE_DIR}/ile_modules
      dockerfile: ile_modules.Dockerfile
      args:
        ILE_NONROOT_UID: ${ILE_NONROOT_UID}
        ILE_NONROOT_GID: ${ILE_NONROOT_GID}
      no_cache: false
      pull: true
    image: ile-cloudserver-payload-normalizer:0.0.1
    user: nonroot:nonroot
    entrypoint: /bin/sh -c
    command:
      - /.venv/bin/python3 -m ile_modules.payload_normalizer
    restart: always
    networks:
      vnet:
        ipv4_address: 192.168.130.13
    ports: [ ]
    environment:
      - ILE_DEBUG=${ILE_DEBUG}
      - ILE_VALKEY_HOST=192.168.130.11
      - ILE_VALKEY_PORT=6379
      - ILE_VALKEY_SSL=true
      - ILE_VALKEY_DB=0
      - ILE_VALKEY_PASSWORD=${ILE_VALKEY_PASSWORD}
      - ILE_MQTT_HOST=192.168.130.10
      - ILE_MQTT_SSL=true
      - ILE_MQTT_PORT=8883
      - ILE_MQTT_USERNAME=${ILE_MQTT_USERNAME}
      - ILE_MQTT_PASSWORD=${ILE_MQTT_PASSWORD}
    volumes: [ ]
    logging:
      options:
        max-size: 10m
        max-file: 1
    healthcheck:
      test: >
        timeout -s 15 5 true || exit 1
      interval: 30s
      timeout: 10s
      start_period: 20s
      retries: 3
    depends_on:
      mosquitto:
        condition: service_started
        restart: true
      valkey:
        condition: service_started
        restart: true
    deploy:
      restart_policy:
        condition: any
        delay: 5s
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    labels:
      ile-autoheal: true

  report-printer:
    build:
      context: ${ILE_DIR}/ile_modules
      dockerfile: ile_modules.Dockerfile
      args:
        ILE_NONROOT_UID: ${ILE_NONROOT_UID}
        ILE_NONROOT_GID: ${ILE_NONROOT_GID}
      no_cache: false
      pull: true
    image: ile-cloudserver-report-printer:0.0.1
    user: nonroot:nonroot
    entrypoint: /bin/sh -c
    command:
      - /.venv/bin/python3 -m ile_modules.report_printer
    restart: always
    networks:
      vnet:
        ipv4_address: 192.168.130.14
    ports: [ ]
    environment:
      - ILE_DEBUG=${ILE_DEBUG}
      - ILE_VALKEY_HOST=192.168.130.11
      - ILE_VALKEY_PORT=6379
      - ILE_VALKEY_SSL=true
      - ILE_VALKEY_DB=0
      - ILE_VALKEY_PASSWORD=${ILE_VALKEY_PASSWORD}
      - ILE_MQTT_HOST=192.168.130.10
      - ILE_MQTT_SSL=true
      - ILE_MQTT_PORT=8883
      - ILE_MQTT_USERNAME=${ILE_MQTT_USERNAME}
      - ILE_MQTT_PASSWORD=${ILE_MQTT_PASSWORD}
    volumes: [ ]
    logging:
      options:
        max-size: 10m
        max-file: 1
    healthcheck:
      test: >
        timeout -s 15 5 true || exit 1
      interval: 30s
      timeout: 10s
      start_period: 20s
      retries: 3
    depends_on:
      valkey:
        condition: service_started
        restart: true
    deploy:
      restart_policy:
        condition: any
        delay: 5s
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    labels:
      ile-autoheal: true

  # https://hub.docker.com/_/telegraf
  # https://www.influxdata.com/blog/docker-run-telegraf-as-non-root/
  telegraf:
    build:
      context: ${ILE_DIR}/ile_telegraf
      dockerfile: telegraf.Dockerfile
      args:
        ILE_NONROOT_UID: ${ILE_NONROOT_UID}
        ILE_NONROOT_GID: ${ILE_NONROOT_GID}
      no_cache: false
      pull: true
    image: ile-cloudserver-telegraf:0.0.1
    user: nonroot:${ILE_DOCKER_GID}
    restart: always
    network_mode: host
    hostname: ${HOSTNAME}
    ports: [ ]
    environment:
      - HOST_ETC=/hostfs/etc
      - HOST_PROC=/hostfs/proc
      - HOST_SYS=/hostfs/sys
      - HOST_VAR=/hostfs/var
      - HOST_RUN=/hostfs/run
      - HOST_MOUNT_PREFIX=/hostfs
      - ILE_TELEGRAF_AGENT_INTERVAL=${ILE_TELEGRAF_AGENT_INTERVAL}
      - ILE_TELEGRAF_HEALTH_SERVICE_ADDRESS=http://127.0.0.1:8652
      - ILE_TELEGRAF_MQTT_ADDRESS=mqtts://192.168.130.10:8883
      - ILE_TELEGRAF_MQTT_USERNAME=${ILE_MQTT_USERNAME}
      - ILE_TELEGRAF_MQTT_PASSWORD=${ILE_MQTT_PASSWORD}
    volumes:
      - /:/hostfs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${ILE_DIR}/ile_telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - ${ILE_DIR}/ile_telegraf/telegraf-writer.conf:/etc/telegraf/telegraf.d/telegraf-writer.conf:ro
      - ${PWD}/tls/${ILE_ENV}/ca.pem:/etc/telegraf/ca.crt:ro
      - ${PWD}/tls/${ILE_ENV}/cloudserver.pem:/etc/telegraf/server.crt:ro
      - ${PWD}/tls/${ILE_ENV}/cloudserver-key.pem:/etc/telegraf/server.key:ro
    security_opt:
      # https://github.com/influxdata/telegraf/issues/6574
      - apparmor:unconfined
    logging:
      options:
        max-size: 10m
        max-file: 1
    healthcheck:
      # https://github.com/influxdata/telegraf/blob/release-1.28/plugins/outputs/health/README.md
      test: >
        timeout -s 15 5
        curl -f "http://127.0.0.1:8652"
        || exit 1
      interval: 30s
      timeout: 10s
      start_period: 20s
      retries: 3
    depends_on:
      mosquitto:
        condition: service_started
        restart: true
    deploy:
      restart_policy:
        condition: any
        delay: 5s
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    labels:
      ile-autoheal: true

  # https://github.com/willfarrell/docker-autoheal
  autoheal:
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.4'
        reservations:
          cpus: '0.3'
    environment:
      AUTOHEAL_CONTAINER_LABEL: ile-autoheal
    image: willfarrell/autoheal:latest
    network_mode: none
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
